.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
}

.title {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

/* グリッド */
.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0;
}

/*検索*/
.searchForm {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.searchInput {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
}

.searchButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

/* カード */
.card {
  background: white;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/*ページネーション*/
.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 40px 0;
}

.page {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.activePage {
  padding: 8px 14px;
  border-radius: 8px;
  background: #4f46e5;
  color: #fff;
}

/*ボタン*/
.backButton {
  display: inline-block;
  margin: 40px auto 0;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

  background-color: #4f46e5;
  border-radius: 9999px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: all 0.2s ease;
}

.backButton:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}

.backButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* スマホ */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
